#overlay {
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#overlay.-show {
	display: block;
}

#overlay .background {
	background: white;
	opacity: .85;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

#overlay .form-transaction {
	background: white;
	border: solid 1px lightgray;
	border-radius: 5px;
	left: 50%;
	padding: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}